@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>

        <img src="https://encolombia.com/wp-content/uploads/2013/04/webjet-avion.jpg" class="img-fluid" alt="Responsive image" style="width:70%">
    </div>
    <br />
    <br />

    <h2 class="display-4">Welcome</h2>
    <p class="font-weight-bold">AeroLinea Flight Aguila </p>
</div>
