@{
    ViewData["Title"] = "Home Page";
}


    <div>

        <img src="https://www.itla.edu.do/identidad_corporativa/Logo_Full_Color/Logo_Color_Full.png" class="img-fluid" alt="Responsive image">
    </div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h3>Instituto ITLA </h3> 
    </p>
</div>
