@{
    ViewData["Title"] = "Home Page";
}

    <body>



        <div class="container-fluid">

            <img src="https://www.roastbrief.com.mx/wp-content/uploads/2014/10/Logo-Almacen.jpg" class="img-fluid" alt="Responsive image" style="width:100%" />

        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="card-body text-center mb-3">
            <p class="font-weight-bold">
                Almacen para organizacion de venta y organizacion de productos y empleado y cliente ,para facilitar el flujo de venta de un almacen
            </p>

        </div>
    </body>